# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mail2mathewpeter2001@gmail.com
SMTP_PASS=udya eegu mqhf qgot

# Recipient Email (where contact form emails will be sent)
RECIPIENT_EMAIL=info@shreebharatraj.com

# Server Configuration
PORT=8000
REACT_APP_API_URL=https://client1-server.onrender.com
